<div class="main">
	<div class="user-page">
		<h2>検索結果<span>(<%= @detail %>)</span></h2>
		<p>"<%= @search %>"</p>
		<div class="post-index">
			<%= render 'posts/post_index', posts: @results %>
		</div>
	</div>
</div>
