<div class="main">
	<div class="user-page">
		<h5>おきにいり</h5>
		<div class="post-index" id="user-favorites-index">
			<%= render 'posts/post_index', posts: @favorites %>
		</div>
		<%= link_to_next_page @favorites, 'more', id: "more-favorites-index", class: "more-btn", remote: true %>
	</div>
</div>