<div class="users-container container">
	<h5 class="headline">フォロワー</h5>
	<div id="followers">
		<%= render 'users/user_index', users: @followers %>
	</div>
	<!-- もっと見る -->
	<%= link_to_next_page @followers, 'more', id: 'more-followers', class: 'more-btn', remote: true %>
</div>