<div class="follow-container container">
	<h5>フォロー中</h5>
	<div id="following-index">
		<%= render 'users/follow_user_index', users: @following %>
	</div>
	<!-- もっと見る -->
	<%= link_to_next_page @following, 'more', id: "more-following-index", class: "more-btn", remote: true %>
</div>

