<div class="users-container container">
	<h5 class="headline">フォロー中</h5>
	<div id="following">
		<%= render 'users/user_index', users: @following %>
	</div>
	<!-- もっと見る -->
	<%= link_to_next_page @following, 'more', id: "more-following", class: "more-btn", remote: true %>
</div>

