<div class="about-content">
	<div class="about-main-content">
		<h2>Goodfoundについて</h2>
		<p class="main-text">Goodfoundは「お気に入りの音楽を見つけよう」をコンセプトにした、音楽に特化したSNSです。<br>好きな音楽の投稿をしたり、気になる音楽を探したりすることができます。</p>
		<div class="about-main-visual">
		</div>
	</div>

	<div class="how-to-use">
		<h3><i class="fas fa-question"></i> How to use</h3>
		<div class="detail">
			<p><i class="far fa-check-circle"></i> 音楽を投稿する</p>
			<span>最近よく聞く曲や、ずっと好きなアルバム、気になっているアーティストなどあなたがいいと思った音楽を投稿してみましょう。<br>
			あなたの投稿を見て興味を持った人と、コミュニケーションをとることができます。</span>
		</div>

		<div class="detail">
			<p><i class="far fa-check-circle"></i> 音楽を見つける</p>
			<span>キーワードやジャンルで投稿を検索してみましょう。<br>今まで聞いてこなかった新しい音楽に出会えたり、自分の好きなアーティストをより深く知ることができるかもしれません。</span>
		</div>

		<div class="detail">
			<p><i class="far fa-check-circle"></i> フォローする</p>
			<span>気になるユーザーがいたらフォローしてみましょう。<br>あなたが好きになりそうな音楽をいろいろ知っている人かもしれません。</span>
		</div>
		<p class="message">Enjoying find good sound on Goodfound <i class="far fa-smile-beam"></i></p>
	</div>
</div>
