<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<%= render 'layouts/sidebar', genres: @genres %>
			</div>

			<div class="col-lg-9">
				<h3 class="timeline-headline"><strong>Timeline</strong></h3>
				<% if @posts.empty? %>
					<div class="timeline-none">
						<p>好きな音楽を投稿してみましょう！</p>
						<p><%= link_to '投稿する', new_post_path, class: "btn btn-dark" %></p>
					</div>
				<% else %>
					<div class="timeline" id="timeline-lists">
						<%= render 'posts/timeline' %>
					</div>
					<%= link_to_next_page @posts, 'more', id: 'tl-more-posts', class: "more-btn", remote: true %>
				<% end %>
			</div>
		</div>
	</div>

  <span id="top-page">
    <a href="#">
      <i class="far fa-arrow-alt-circle-up"></i>
    </a>
  </span>
</div>