<div class="main">
	<div class="timeline" id="timeline-lists">
		<%= render 'posts/timeline' %>
	</div>
	<%= link_to_next_page @posts, 'more', id: 'tl-more-posts', class: "more-btn", remote: true %>
</div>