/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better tocreate a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// all
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: #202020;

	&:hover {
	 color: #202020;
	 text-decoration: none;
	}
}

p, h1, h2, h3, h4, h5 {
	margin-bottom: 0;
}

.main {
	padding: 30px 0;
	background-color: #f5f5f5;
	min-height: 500px;
}

// font awesome
input.font-awesome {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

// ボタン
.btn-orange {
	background-color: #ed6d46;

	&:hover {
  	background-color: #ed6d46;
  }
}
.btn-outline-orange {
  border: 1px solid #ed6d46;
  color: #ed6d46;

  &:hover {
  	background-color: #ed6d46;
  }
}
.more-btn {
	width: 50%;
	display: block;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 0 8px gray;
	padding: 10px 0;
	margin: 0 auto;
	text-align: center;

	&:hover {
		background-color: #efefef;
	}
}

// エラーメッセージ
.error-message {
	border: thin solid gray;
	border-radius: 3px;
	padding: 15px 7px;
	margin-bottom: 15px;

	p {
		margin-bottom: 10px;

		i {
			color: red;
		}
	}
	ul {
		font-size: 14px;
		margin-bottom: 0;
		list-style: none;
	}
}

// radio-tile
.radio-tile-box {
	display: flex;
	padding: 10px 0;
	justify-content: center;
	align-items: center;

	.input-container {
		flex-basis: 60px;
	  margin-right: 10px;
	  position: relative;

	  &:last-child {
	  	margin-right: 0;
	  }
		.radio-button {
			opacity: 0;
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    margin: 0;
	    cursor: pointer;
		}
		// チェックが入っていないとき
		.radio-tile {
	    padding: 5px;
			border: 2px solid #dfdfdf;
		  border-radius: 5px;
		  transition: transform 300ms ease;
		  color: #dfdfdf;
		  display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	  }
		.radio-tile-label {
			margin-bottom: 0;
		}
		i {
			font-size: 40px;
		}

		// チェックが入っているとき
		.radio-button:checked + .radio-tile {
		  border: 2px solid #202020;
		  transform: scale(1.03, 1.03);
		  color: #202020;
		}
	}
}

// サイドバー
	.sidebar {
		background-color: #ffffff;
		padding: 30px 10px;
		border-radius: 10px;
		text-align: center;

		.headline {
			margin-bottom: 15px;
			font-size: 20px;
		}
		.text {
			margin-top: 10px;
		}
		.actions {
			margin:10px 0 30px;
		}
		.genre-item {
			width: 80%;
			margin: 4px auto 0;
			border-bottom: 2px dotted black;
		}
		.btn {
			width: 100%;
		}
	}

// アイコンイメージ
.icon-image {
	border-radius: 50%;
	border: 1px solid gray;
	overflow: hidden;
}

// ホバー時にdiv全体をクリックできる
.post-content, .user-nav p {
	position: relative;

	a {
		display: block;
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	}
}

// ヘッダー
#header {
	position:fixed;
	top: 0;
  margin: 0;
  width: 100%;
  z-index: 9999;
}

// フッター
footer {
	p {
		text-align: center;
		line-height: 60px;
		margin: 0;
	}
}

// home#top
.top-main-visual {
	background-image: image-url("list-main-visual.jpg");
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 600px;
}


// home#about
.about-main-visual {
	background-image: image-url("list-main-visual.jpg");
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 400px;
}

// home#list
.list-main-visual {
	background-image: image-url("list-main-visual.jpg");
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 400px;
}
.search-container {
	width: 70%;
	margin: 30px auto;

		h3 {
		text-align: center;
		margin-bottom: 20px;
	}

	h5, p {
		text-align: center;
	}

	.keyword-search {
		text-align: center;

		.search-bar {
			margin: 20px;

			#search {
				width: 50%;
				border: thin solid gray;
				border-radius: 5px;
				padding: 5px;
			}
		}
	}
	.genre-search {
		margin-top: 50px;

		.genre-items {
			display: flex;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			width: 65%;
			margin: 20px auto;

			.genre-item {
			margin: 5px 5px 0 0;
			}
		}
	}
	.actions {
		.btn {
			margin-top: 10px;
			width: 250px;
		}
	}
}

// posts#new, post#edit
#file {
	display: none;
}
#img-feild {
  border: solid 1px #ced4da;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  width: 400px;
  height: 250px;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
 	background-size: contain;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;

  #img {
  	width: 100%;
  }
	i {
	  font-size: 100px;
	  color: #dcdcdc;
	  transition: 0.3s ease-out;
	  line-height: 200px;
	  display: block;
	  text-align: center;
	}
	i.add {
	  display: none;
	  font-size: 50px;
	  position: absolute;
	  top: -60px;
	  right: 15px;
	}
	&:hover {
	  background-color: #dcdcdc;
	  transition: 0.2s ease-out;
	  opacity: 0.8;
	}
	&:hover i {
	  transition: 0.2s ease-out;
	  display: block;
	  color: #fff;
	}
}
.post-form {
	padding: 30px 0;

	.actions {
		text-align: center;
	}
}

// posts#index
.timeline {
	display: flex;
	flex-direction: column;
	align-items: center;
}

// posts#index, posts#show
.post-box {
	width: 80%;
	margin-bottom: 20px;
	padding: 20px 30px;
	background-color: #ffffff;
	box-shadow: 0 0 8px gray;
	border-radius: 10px;

	.post-user {
		display: flex;
		justify-content: flex-end;

		.user-detail {
			display: flex;
			margin-right: auto;

			p {
				margin-left: 10px;
				font-size: 20px;
				span {
					font-size: 13px;
				}
			}
		}
	}

	.post-content {
		display: flex;
		padding: 15px 0;

		.post-image {
			margin-right: 30px;
		}
		.post-detail {
			font-size: 20px;

			p {
				margin-bottom: 15px;
			}

			span {
				font-size: 17px;
			}
		}
	}
	.reactions {
		font-size: 17px;

		.comment {
			margin-left: 10px;
		}
	}
}

// posts#show
.comment-box {
	&:before {
		content: '';
    display: block;
    background: #a9a9a9;
    height: 2px;
    margin: 20px 0;
	}
	.form-control {
		width: 70%;
	}
	.comment-list {
		border-bottom: 1px solid #d3d3d3;
		padding: 10px 0;

		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			border-bottom: none;
		}

		.comment-user {
			display: flex;

			.icon_image {
				border-radius: 50%;
				border: 1px solid gray;
				overflow: hidden;
			}
			strong {
				font-size: 18px;
				margin-left: 10px;
			}
			span {
				font-size: 12px;
			}
			.actions {
				margin-left: auto;
			}
		}
	}
}

// users#show
.user-infomation {
	background-color: #fff;

	h5 {
	 text-align: center;
	}
	.profile {
		width: 70%;
		margin: 0 auto;
	}
	.profile {
		padding: 40px 70px;
		display: flex;

		.profile-detail {
			margin-left: 30px;
			font-size: 15px;

			.name {
				font-size: 20px;
				margin-bottom: 15px;

				span {
					font-size: 15px;
				}
			}
		}
		.actions {
			margin-left: auto;
		}
	}
	.user-nav {
		border-top: 1px solid gray;
		border-bottom: 1px solid gray;
		display: flex;
		justify-content: center;

		p {
			padding: 20px 0;
			flex-basis: 15%;
			text-align: center;
			position: relative;

		&:hover {
			background-color: lightgray;
		}

			strong {
			font-size: 20px;
			}
		}
	}
}
.user-page {
	padding: 50px 0;
	background-color: #fde8d0;

	.post-index {
		width: 70%;
		margin: 0 auto;
	}
}

// users#following, user#followers
.follow-container {
	padding: 30px 0;

	h5 {
		text-align: center;
		margin-bottom: 15px;
	}
	.follow-user {
		width: 80%;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px 0;
		border-top: thin solid gray;

		&:last-child {
			margin-bottom: 15px;
		}

		div {
			flex-basis: 15%;

			&:last-child, &:first-child {
				flex-basis: 10%;
			}
			span {
				font-size: 13px;
			}
			p {
				display: inline-block;
			}
		}
	}
}

// users#edit
.user-edit {
	.icon {
		text-align: center;

		.icon-image {
			width: 250px;
			height: 250px;
		}
		#icon-file {
			display: none;
		}
	}
	.input-btn {
	 background-color: lightgray;
	 border-radius: 5px;
	}
	.actions {
		text-align: center;
		margin-top: 10px;
	}
}

// search#search, genre#show
.results {
	.headline, .item-name {
		margin:0 0 15px 4%;
	}
	.post-none {
		line-height: 100px;
		text-align: center;
	}
	.one-post {
		width: 47%;
		margin-bottom: 2%;

		&:nth-child(even) {
			margin-right: 0;
			margin-left: 1%;
		}
		&:nth-child(odd) {
			margin-right: 1%;
			margin-left: 4%;
		}
	}
	.more-btn {
		margin-left: 27%;
	}
}

// users#show, genres#show, search#search, users#favorites post-index
.post-index {
	display: flex;
	align-content: space-around;
	flex-wrap: wrap;
	margin: 30px auto;

	.post-content {
		display: flex;
		background-color: #ffffff;
		border-radius: 5px;
		box-shadow: 0 0 8px gray;
		padding: 15px;
		width: 42%;
		margin-bottom: 2%;

		&:nth-child(even) {
			margin-right: 7%;
			margin-left: 1%;
		}
		&:nth-child(odd) {
			margin-right: 1%;
			margin-left: 7%;
		}
		&:nth-last-child(-n+2) {
			margin-bottom: 0;
		}
		&:hover {
			background-color: lightgray;
		}
		.post-image {
			margin-right: 15px;
		}
		.post-detail {

			p {
				margin-bottom: 10px;
				font-size: 18px;
			}
		}
	}
}