/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better tocreate a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// all
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// リンク
a {
	color: #202020;

	&:hover {
	color: #202020;
	 text-decoration: none;
	}
}

p, h1, h2, h3, h4, h5, label {
	margin-bottom: 0;
}

.main {
	background-color: #faf0e6;
}

img {
	object-fit: cover;
}

// 画面サイズ
.main, .post-form, .follow-container {
	min-height: 95vh;
	padding: 90px 0 30px;
	box-sizing: border-box;
}

// font awesome
input.font-awesome {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

// ボタン
.btn-original {
	background-color: #faf0e6;
	color: #000000;
	border-radius: 5px;
	border: 1px solid #a9a9a9;
	border: 1px solid #000000;
	padding: 7px 5px;
	margin: 0 1px 2px;
	transition: all .2s;
	display: inline-block;

	&:hover {
  	background-color: #faf0e6;
  	color: #000000;
  	border: 2px solid #000000;
		font-weight: bold;
  }
}
.more-btn {
	width: 50%;
	display: block;
	border-radius: 10px;
	border: 1px solid #a9a9a9;
	color: #a9a9a9;
	padding: 10px 0;
	margin: 0 auto;
	text-align: center;

	&:hover {
		border: 1px solid #000;
		color: #000;
	}
}

// エラーメッセージ
.error-message {
	border: thin solid #dc143c;
	border-radius: 3px;
	padding: 15px 7px;
	margin-bottom: 15px;
	background-color: #fff;
	width: 30%;
	margin: 0 auto 20px;

	p {
		margin-bottom: 10px;

		i {
			color: #dc143c;
		}
	}
	ul {
		font-size: 14px;
		margin-bottom: 0;
		list-style: none;
	}
}

// radio-tile
.radio-tile-box {
	display: flex;
	padding: 10px 0;
	justify-content: center;
	align-items: center;

	.input-container {
		flex-basis: 60px;
	  margin-right: 10px;
	  position: relative;

	  &:last-child {
	  	margin-right: 0;
	  }
		.radio-button {
			opacity: 0;
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    margin: 0;
	    cursor: pointer;
		}
		// チェックが入っていないとき
		.radio-tile {
	    padding: 5px;
			border: 2px solid #dfdfdf;
		  border-radius: 5px;
		  transition: transform 300ms ease;
		  color: #dfdfdf;
		  display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	  }
		.radio-tile-label {
			margin-bottom: 0;
		}
		i {
			font-size: 40px;
		}

		// チェックが入っているとき
		.radio-button:checked + .radio-tile {
		  border: 2px solid #202020;
		  transform: scale(1.03, 1.03);
		  color: #202020;
		}
	}
}

// サイドバー
.sidebar {
	background-color: #ffffff;
	padding: 30px 10px;
	border-radius: 10px;
	text-align: center;

	.headline {
		margin-bottom: 15px;
		font-size: 20px;
	}
	.text {
		margin-top: 10px;
	}
	.actions {
		margin:10px 0 30px;
	}
	.genre-item {
		width: 80%;
		margin: 4px auto 0;
		border-bottom: 2px dotted black;
		transition: font-weight .3s;

		&:hover {
			font-weight: bold;
		}
	}
	.btn {
		width: 100%;
	}
}

// アイコンイメージ
.icon-image {
	border-radius: 50%;
	border: 1px solid #d3d3d3;
	overflow: hidden;
	transition: all .2s;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}
}

// ホバー時にdiv全体をクリックできる
.post-content, .user-nav p {
	position: relative;

	a {
		display: block;
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  transition: all .3s;
	}
}

// トップページボタン
#top-page {

	i {
		font-size: 40px;
		position: fixed;
		bottom: 50px;
		right: 50px;

		&:hover {
			opacity: 0.8;
		}
	}
}

// ヘッダー
#header {
	position: fixed;
	top: 0;
  margin: 0;
  width: 100%;
  z-index: 9999;

  .navbar {
  	background-color: rgba(0,0,0,0.8);
  }
  .navbar-toggler {
    color: #faf0e6;
    border-color: #faf0e6;
	}
  .nav-item {
  	margin: 0 30px;

  	a {
	  	color: #faf0e6;
	  	transition: all .3s;
	  	font-size: 14px;

	  	&:hover {
	  		font-weight: bold;
	  	}
	  }
  }
  .navbar-brand {
		margin: 0 30px;

		strong {
			font-size: 23px;
			color: #fff;
		}
  }
}

// フッター
footer {
	background-color: rgba(0,0,0,0.7);

	p {
		text-align: center;
		line-height: 40px;
		margin: 0;
		color: #faf0e6;
	}
}

// home#top
.top-main-visual {
	background-image: image-url("top-image.jpg");
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 95vh;
	text-align: center;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		font-size: 100px;
		color: #ffffff;
		font-weight: bolder;
		-webkit-text-stroke: 1px #d2b48c;
  	text-stroke: 1px #d2b48c;
	}
	.link {
		position: absolute;
		bottom: 100px;

		.btn {
			margin: 0 10px;
			font-weight: bold;
			border: 2px solid #fff;

			&:hover{
				background-color: rgba(255, 255, 255, 0.5)
			}
		}
	}
}

// home#about
.about-content {
	padding-top: 90px;

	h2, h3, p {
		text-align: center;
	}
	h2, h3, .main-text, .detail {
		margin-bottom: 20px;
	}
	.about-main-content {
		width: 80%;
		margin: 0 auto;

		h2, .main-text {
			font-weight: bold;
		}

		.about-main-visual {
			background-image: image-url("about-image.jpg");
			background-position: center;
			background-size: cover;
			width: 100%;
			height: 500px;
			margin-bottom: 40px;
			}
		}
	.how-to-use {
		background-color: #faf0e6;
		padding: 30px;
		text-align: center;

		p {
			margin-bottom: 5px;
			font-weight: bold;
			font-size: 20px;
		}
		span {
			font-size: 14px;
		}
		.message {
			padding: 15px 0;
		}
	}
}

// home#list
.list-main-visual {
	background-image: image-url("list-image.jpg");
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 460px;
}
.search-container {
	width: 70%;
	margin: 30px auto;

		h3 {
		text-align: center;
		margin-bottom: 20px;
	}

	h5, p {
		text-align: center;
	}

	.keyword-search {
		text-align: center;

		.search-bar {
			margin: 15px 0;

			#search {
				width: 50%;
				border: thin solid #808080;
				border-radius: 5px;
				padding: 5px;
				margin: 0 auto;
			}
		}
	}
	.genre-search {
		margin-top: 50px;

		.genre-items {
			display: flex;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			width: 65%;
			margin: 20px auto;

			.genre-item {
			margin: 5px 5px 0 0;
			}
		}
	}
	.actions {
		.btn {
			margin-top: 10px;
			width: 250px;
		}
	}
}

// posts#new, post#edit
.input-post-image {
	margin: 0 auto;
	width: 350px;
  height: 250px;
	position: relative;
	border: 1px solid #ced4da;
	border-radius: 10px;
	overflow: hidden;

	#file {
		display: none;
	}
  #img {
  	width: 350px;
  	height: 250px;
  	object-fit: cover;

  	&:hover {
		  background-color: #dcdcdc;
		  transition: 0.2s ease-out;
		  opacity: 0.8;
		}
	}
	i.add {
	  display: none;
	  font-size: 50px;
	  position: absolute;
	  top: 10px;
	  right: 15px;
	}
	&:hover i {
	  transition: 0.2s ease-out;
	  display: block;
	  color: #fff;
	}
}
.post-form {
	h5 {
		text-align: center;
		margin-bottom: 20px;
	}

	.actions {
		text-align: center;

		.btn {
			width: 40%;
		}
	}
}

// posts#index
.timeline-headline {
	text-align: center;
	margin-bottom: 10px;
}
.timeline {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.timeline-none {
	p {
		text-align: center;
		line-height: 50px;
	}
}

// posts#index, posts#show
.post-box {
	width: 80%;
	margin-bottom: 20px;
	padding: 20px 30px;
	background-color: #ffffff;
	box-shadow: 0 0 8px #dcdcdc;
	border-radius: 10px;

	.post-user {
		display: flex;
		justify-content: flex-end;

		.user-detail {
			display: flex;
			margin-right: auto;

			p {
				margin-left: 10px;
				font-size: 20px;
				span {
					font-size: 13px;
				}
				.data {
					display: block;
				}
			}
		}
		// ログインユーザーのみの編集削除ボタン
		.actions {
			span {
				padding: 5px;

				&:hover {
					border: 1px solid #999;
					border-radius: 3px;
				}
			}
		}
	}

	.post-content {
		display: flex;
		padding: 15px 0;
		transition: all .3s;

		.post-image {
			margin-right: 30px;

			img {
				border-radius: 5px;
				overflow: hidden;
			}
		}
		.post-detail {
			font-size: 20px;

			p {
				margin-bottom: 15px;
			}

			span {
				font-size: 17px;
			}
		}
	}
	.reactions {
		font-size: 17px;

		.comment {
			margin-left: 10px;
		}
	}
}

// posts#show
.comment-box {
	&:before {
		content: '';
    display: block;
    background: #a9a9a9;
    height: 2px;
    margin: 20px 0;
	}
	#comment-area {
		width: 70%;
	}
	.btn {
		margin-top: 10px;
	}
	.comment-list {
		border-bottom: 1px solid #d3d3d3;
		padding: 10px 0;

		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			border-bottom: none;
		}

		.comment-user {
			display: flex;

			.icon-image {
				width: 40px;
				height:40px;
			}

			strong {
				font-size: 18px;
				margin-left: 10px;
			}
			span {
				font-size: 12px;
			}
			.data {
				display: block;
				margin-left: 10px;
			}
			.actions {
				margin-left: auto;
			}
		}
	}
}

// users#show
.user-infomation {
	background-color: #fff;
	padding-top: 60px;

	h5 {
	 text-align: center;
	}
	.profile {
		width: 70%;
		margin: 0 auto;
	}
	.profile {
		padding: 40px 70px;
		display: flex;

		.profile-detail {
			margin-left: 30px;
			font-size: 15px;

			.name {
				font-size: 20px;
				margin-bottom: 15px;

				span {
					font-size: 15px;
				}
			}
		}
		.actions {
			margin-left: auto;
		}
	}
	.user-nav {
		border-top: 1px solid #d2b48c;
		border-bottom: 1px solid #d2b48c;
		display: flex;
		justify-content: center;

		p {
			padding: 20px 0;
			flex-basis: 15%;
			text-align: center;
			position: relative;
			transition: background-color .5s;

		&:hover {
			background-color: #f5deb3;
		}

			strong {
			font-size: 20px;
			}
		}
	}
}
.user-page {
	padding: 50px 0;
	background-color: #faf0e6;
	min-hight: 55vh;

	.post-index {
		width: 70%;
		margin: 0 auto;
	}
}

// users#following, user#followers
.follow-container {
	h5 {
		text-align: center;
		margin-bottom: 15px;
	}
	.follow-user {
		width: 80%;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px 0;
		border-top: thin solid #808080;

		&:last-child {
			margin-bottom: 15px;
		}

		div {
			flex-basis: 15%;

			&:last-child, &:first-child {
				flex-basis: 10%;
			}
			&:nth-child(2) {
				flex-basis: 25%;
			}
			span {
				font-size: 13px;
			}
		}
		.follow {
			p {
				display: inline-block;
			}
		}
	}
}

// users#favorites
.favorites {
	.user-page {
		padding-top: 0;
		h5 {
			text-align: center;
			margin-bottom: 30px;
		}
	}
}

// users#edit
.user-edit {
	.icon {
		text-align: center;

		#file {
			display: none;
		}

		#img {
			width: 230px;
			height: 230px;
			object-fit: cover;
			cursor: pointer;
			background-color: #fff;
			transition: all 0.3s;
		}
	}
	.input-form {
		margin-top: 15px;
	}
	.actions {
		text-align: center;
		margin-top: 10px;

		.btn {
			width: 60%;
		}
	}
}

// users#show, genres#show, search#search, users#favorites post-index
.post-index {
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	margin: 30px auto;

	.post-content {
		display: flex;
		background-color: #ffffff;
		border-radius: 5px;
		box-shadow: 0 0 8px #dcdcdc;
		padding: 15px;
		width: 42%;
		margin-top: 2%;
		transition: all .3s;

		&:nth-child(even) {
			margin-right: 7%;
			margin-left: 1%;
		}
		&:nth-child(odd) {
			margin-right: 1%;
			margin-left: 7%;
		}
		&:nth-child(-n+2) {
			margin-top: 0;
		}
		&:hover {
			opacity: 0.8;
		}
		.post-image {
			margin-right: 15px;

			img {
				border-radius: 5px;
				overflow: hidden;
			}
		}
		.post-detail {

			p {
				margin-bottom: 10px;
				font-size: 18px;
			}
		}
	}
}

// search#search, genre#show
.results {
	.headline, .item-name {
		margin:0 0 15px 4%;
	}
	.post-none {
		line-height: 100px;
		text-align: center;
	}
	.post-content {
		width: 47%;
		margin-top: 2%;

		&:nth-child(even) {
			margin-right: 0;
			margin-left: 1%;
		}
		&:nth-child(odd) {
			margin-right: 1%;
			margin-left: 4%;
		}
	}
	.more-btn {
		margin-left: 27%;
	}
}

// ログイン、サインアップ、パスワード再設定
.devise-container {
	background-image: image-url("log-in-image.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 95vh;
	display: flex;
	align-items: center;
	justify-content: center;

	.input-box {
		width: 25%;
		background-color: rgba( 255, 255, 255, 0.8);
		border-radius: 10px;
		padding: 15px;

		h3, h5 {
			text-align: center;
			margin-bottom: 15px;
		}
		.error-message {
			width: 100%;
		}
		input {
			margin-bottom: 15px;
		}
		.btn-original {
			width: 100%;
		}
		span {
			font-size: 13px;
		}
	}
}

// タブレット縦置きサイズ（768px）以下の際に適用される設定
@media screen and (max-width:768px) {
	// ヘッダー
	#header {
	  .nav-item {
	  	margin: 0 10px;
	  }
	}

	// エラーメッセージ
	.error-message {
		width: 45%;
	}

	// サイドバー
	.sidebar {
	 display: none;
	}

	// 画面サイズ
	.main, .post-form, .follow-container {
		padding: 80px 0 15px;
	}

	// home#top
	.top-main-visual {
		h1 {
			font-size: 100px;
		}
	}

	// home#about
	.about-content {
		h2, h3, .main-text, .detail {
			margin-bottom: 15px;
		}
		.about-main-content {
			h2 {
				font-size: 30px;
			}

			.about-main-visual {
				height: 310px;
			}
		}
		.how-to-use {
			.detail {
				width: 70%;
				margin: 0 auto;
			}
		}
	}

	// home#list
	.list-main-visual {
		height: 350px;
	}
	.search-container {
		h3 {
			font-size: 25px;
		}
		h5 {
			margin-bottom: 10px;
		}
		p {
		 font-size: 14px;
		}
		.keyword-search {
			.search-bar {
				#search {
					width: 90%;
				}
			}
		}
		.genre-search {
			.genre-items {
				width: 100%;

				.genre-item {
					margin: 5px 5px 0 0;
				}
			}
		}
	}

	// ログイン、サインアップ、パスワード再設定
	.devise-container {
		background-image: none;
		background-color: #faf0e6;

		.input-box {
			width: 50%;
		}
	}

	// posts#new, post#edit
	.input-post-image {
	  margin-bottom: 20px;
	}

	// posts#index

	// posts#index, posts#show
	.post-box {
		width: 90%;
		padding: 10px 20px;

	}

	// posts#show
	.post-show {
		.post-content {
			img {
				width: 300px;
				height: 200px;
			}
		}
	}
	.comment-box {
		#comment-area {
			width: 100%;
		}
		.comment-list {
			.comment-user {
				strong {
					font-size: 16px;
				}
			}
		}
	}

	// users#show
	.user-infomation {
		.profile {
			width: 100%;
			padding: 30px 60px;

			img {
				width: 70px;
				height: 70px;
			}
		}
		.user-nav {
			p {
				flex-basis: 20%;
				font-size: 13px;

				strong {
					font-size: 18px;
				}
			}
		}
	}
	.user-page {
		padding: 30px 0;
		min-height: 70vh;

		.post-index {
			width: 100%;
		}
	}

	// users#following, user#followers
	.follow-container {
		.follow-user {
			.name {
				font-size: 15px;
			}
			img {
				width: 50px;
				height: 50px;
			}
			div {
				&:nth-child(2) {
					flex-basis: 30%;
				}
				&:first-child, &:last-child {
					flex-basis: 15%
				}
			}
			.follow {
				font-size: 13px;

				span {
					font-size: 12px;
				}
			}
		}
	}

	// users#favorites

	// users#edit

	// users#show, genres#show, search#search, users#favorites post-index
	.post-index {
		.post-content {
			width: 46%;

			&:nth-child(even) {
				margin-right: 3%;
				margin-left: 1%;
			}
			&:nth-child(odd) {
				margin-right: 1%;
				margin-left: 3%;
			}
			.post-image {
				text-align: center;
			}
			img {
				width: 150px;
				height: 150px;
			}
			.post-detail {
				p {
					font-size: 14px;
				}
			}
		}
	}

	// search#search, genre#show
	#search-index {
		margin: 0;

		.post-content {
				width: 49%;

			&:nth-child(even) {
				margin-right: 0;
				margin-left: 1%;
			}
			&:nth-child(odd) {
				margin-right: 1%;
				margin-left: 0;
			}
		}
	}
	.results {
		padding: 10px 0 0 0;

		.headline, .item-name {
			margin-right: 0;
		}
		.headline {
			font-size: 20px;
		}
		.post-none {
			line-height: 80px;
			text-align: center;
		}
		.more-btn {
			margin-left: 0;
		}
	}
}

// スマートフォンサイズ（425px）以下の際に適用される設定
@media screen and (max-width:425px) {
	// ヘッダー
	#header {
  	a {
	  	font-size: 16px;
	  }
	  .navbar-brand {
			margin: 0 10px;
	 	}
	 }

	// サイドバー
	.sidebar {
		display: none;
	}

	// トップページボタン
	#top-page {
		display: none;
	}

	// エラーメッセージ
	.error-message {
		width: 100%;
	}

	// 画面サイズ
	.main, .post-form, .follow-container {
		padding: 70px 0 15px;
	}

	// home#top
	.top-main-visual {
		background-image: image-url("top-image2.jpg");
		height: 95vh;

		h1 {
			font-size: 60px;
		}
	}

	// home#about
	.about-content {
		padding-top: 90px;

		.about-main-content {
			width: 90%;

			h2, .main-text {
				font-weight: bold;
			}
			h2 {
				font-size: 28px;
			}
			.main-text {
				font-size: 13px;
			}

			.about-main-visual {
				height: 200px;
				margin-bottom: 20px;
				}
			}
		.how-to-use {
			padding: 20px;

			.detail {
				width: 100%;
				margin-bottom: 10px;
			}

			p {
			font-size: 18px;
			}
			span {
				font-size: 13px;
			}
		}
	}

	// home#list
	.list-main-visual {
		height: 280px;
	}
	.search-container {
		width: 90%;
		margin: 20px auto;

		h3 {
			margin-bottom: 15px;
			font-size: 22px;
		}
		h5 {
			font-size: 18px;
		}
		.genre-search {
			margin-top: 30px;
		}
	}

	// ログイン、サインアップ、パスワード再設定
	.devise-container {
		.input-box {
			width: 80%;
		}
	}

	// posts#new, post#edit
	.input-post-image {
		width: 280px;
	  height: 200px;

	  #img {
	  	width: 280px;
	  	height: 200px;
		}
	}
	.post-form {
		.actions {
			.btn {
				width: 70%;
			}
		}
	}

	// posts#index
	.timeline {
	 	.actions {
	 		display: none;
	 	}
	}

	// posts#index, posts#show
	.post-box {
		.post-user {
			.icon-image {
				width: 50px;
				height: 50px;

				img {
					width: 50px;
					height: 50px;
				}
			}
		}
		.post-user {
			.user-detail {
				p {
				 	font-size: 15px;
				}
			}
		}
		.actions {
			span {
				padding: 5px;

				&:hover {
					border: 1px solid #999;
					border-radius: 3px;
				}
			}
		}
		.post-content {
			flex-direction: column;
			padding: 5px 0;

			.post-image {
				text-align: center;
					margin: 0 0 10px 0;
			}
			.post-detail {
				p {
					margin-bottom: 5px;
					font-size: 16px;
				}
				span {
					font-size: 14px;
				}
			}
		}
	}

	// posts#show
	.comment-box {
		&:before{
			margin: 10px 0;
		}
		.comment-list {
			padding: 5px 0;

			.comment-user {
				strong {
					font-size: 14px;
				}
			}
			.comment {
				font-size: 14px;
			}
		}
	}

	// users#show
	.user-infomation {
		.profile {
			padding: 30px 20px;
			width: 100%;

			img {
				width: 50px;
				height: 50px;
			}
			.profile-detail {
				margin-left: 10px;
				font-size: 13px;
				.name {
					font-size: 15px;
					margin-bottom: 10px;

					span {
						font-size: 13px;
					}
				}
			}
			.actions {
				.edit-btn {
					padding: 5px;
					line-height: 100%;

					i {
					 font-size: 13px;
					}
				}
			}
		}
		.user-nav {
			p {
				padding: 10px 0;
				flex-basis: 25%;
				font-size: 12px;

				strong {
					font-size: 15px;
				}
			}
		}
	}
	.user-page {
		padding: 20px 0;
		min-height: 68vh;
	}

	// users#following, user#followers
	.follow-container {
		padding-top: 70px;

		h5 {
			font-size: 18px;
		}
		.follow-user {
			width: 100%;
			padding: 5px;

			&:last-child {
				margin-bottom: 15px;
			}
			.follow {
				display: none;
			}
			.name {
				font-size: 13px;

				span {
					font-size: 10px;
				}
			}
			img {
				width: 40px;
				height: 40px;
			}
			div {
				&:nth-child(2) {
					flex-basis: 40%;
				}
			}
		}
	}

	// users#favorites
	.favorites {
		.user-page {
			h5 {
				margin-bottom: 18px;
			}
		}
	}

	// users#edit

	// users#show, genres#show, search#search, users#favorites post-index
	.post-index {
		.post-content {
			width: 46%;
			flex-direction: column;
			padding: 10px;

			.post-image {
				margin-right: 0;
			}
			.post-detail {
				p {
					margin-bottom: 3px;
					font-size: 13px;

					&:last-child {
						margin-bottom: 0px;
					}
				}
			}
		}
	}

	// search#search, genre#show
	#search-index {
		.post-content {
				width: 46%;

			&:nth-child(even) {
				margin-right: 3%;
				margin-left: 1%;
			}
			&:nth-child(odd) {
				margin-right: 1%;
				margin-left: 3%;
			}
		}
	}
	.results {
		padding-top: 10px;

		.headline, .item-name {
			margin-right: 3%;
		}
		.headline {
			font-size: 15px;

			span {
				font-size: 13px;
			}
		}
		.item-name {
			font-size: 13px;
		}
	.post-none {
		font-size: 13px;
	}
	}
}