<% if post.errors.any? %>
	<div class="error-message">
		<p>
			<i class="fas fa-exclamation-circle"></i>
			<%= post.errors.count %>箇所のエラーがあります
		</p>
		<ul>
			<% post.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>